@import 'general.css';

  /* Main Login CSS */
  main{
      background-color: var(--mainBkColor);      
      display: flex;
      flex-flow: column;      
      justify-content: center;      
      align-items: center;
      padding: 15% 0 0 0;
    }

main form{
    background-color: var(--contentBoxColor);
    box-shadow: 0px 0px 20px 0px var(--headerColor);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 1.5em;
}
    
main form h1{
        display: flex;    
        color: var(--headerBkColor);
        font-size: clamp(.81rem, 5vw, 2.5rem);
        justify-content: center;
        align-items: center;
        margin-bottom: .8em;        
    }

main table{    
    border-spacing: 15px;
}
    
main table .login{
    text-align: left;
    width: 100%;
}

main table .login label{
    color: var(--headerBkColor);
    font-size: clamp(.3rem, 3vw, 1.3rem);
    margin: .2em;
}

main table .login input{
    background-color: var(--inputBkColor);
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: clamp(.28rem, 2.6vw, 1.1rem);
    padding: .6em;
}

main form .btn input{
    padding: 10px;
    background-color: var(--headerBkColor);
    color: var(--headerColor);
    font-size: clamp(.4rem, 2.6vw, 1.3rem);
    border: none;
    border-radius: .8em;
    margin: 1.8em 0;
    transition: var(--transition);
}

main form .btn input:hover{
    padding: 10px;
    background-color: var(--buttonHover);
    color: var(--headerColor);
    border: none;   
    cursor: pointer;
    transition: var(--transition);
    transform: var(--buttonTransform);
}